body {
    background-image: url(File://towel.jpeg);
    background-repeat: repeat-x;
}

.coinsides {
    width: 9cm;
    height: 9cm;
}

.edge {
    width: 9cm;
    height: 2.2cm;
}

.p {
    font-size: larger;
    font-weight: 900;
}
